
__pycache__/
*.pyc
*.pyo
*.pyd

#Database files
db.sqlite3
*.sqlite3

# Django secret settings
.env
*.env
config.json

# Logs
logs/
*.log

# Static and media files
staticfiles/


# IDE and editor settings
.vscode/
.idea/
*.swp
*.swo

# Django settings
settings_local.py