{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}OrderIt{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
    {% block extra_head %}{% endblock %}
</head>
<body>
    <div class="dashboard-layout">
        <aside class="sidebar">
            <div class="sidebar-header">
                <h2>Order<span class="accent">It</span></h2>
            </div>
            <nav class="nav-links">
                <a href="{% url 'dashboard' %}" class="{% if active_page == 'dashboard' %}active{% endif %}">
                    {% include "web/icons/info-icon-solid.html" %}
                    <span>Dashboard</span>
                </a>
                <a href="{% url 'users' %}" class="{% if active_page == 'users' %}active{% endif %}">
                    {% include "web/icons/users-icon-solid.html" %}
                    <span>Users</span>
                </a>
                <a href="{% url 'tables' %}" class="{% if active_page == 'tables' %}active{% endif %}">
                    {% include "web/icons/table-icon-solid.html" %}
                    <span>Tables</span>
                </a>

                <!-- Menu dropdown -->
                <div class="nav-dropdown {% if active_page in 'menu_categories menu_items' %}open{% endif %}">
                    <button class="dropdown-toggle">
                        {% include "web/icons/info-icon-solid.html" %}
                        <span>Menu</span>
                        <span class="arrow">&#9662;</span>
                    </button>
                    <div class="dropdown-menu">
                        <a href="{% url 'menu_categories' %}" class="{% if active_page == 'menu_categories' %}active{% endif %}">Categories</a>
                        <a href="#" class="">Items</a>
                    </div>
                </div>

                <a href="{% url 'logout' %}" class="logout-link">
                    {% include "web/icons/arrow-left-start-on-rectangle-solid.html" %}
                    <span>Logout</span>
                </a>
            </nav>

        </aside>

        <main class="main-content">
            {% block content %}
            {% endblock %}
        </main>

        <!-- <div id="toast" class="toast hidden">
            <span id="toast-message"></span>
        </div> -->
    </div>
    <div id="toast-container"></div>
    <script src="{% static 'js/base.js' %}"></script>
</body>
</html>
